@import 'fonts.css';
@import '../blocks/b-btnbox/b-btnbox.css';
@import '../blocks/b-burger/b-burger.css';
@import '../blocks/b-contact-tip/b-contact-tip.css';
@import '../blocks/b-credit-cards/b-credit-cards.css';
@import '../blocks/b-fields-group/b-fields-group.css';
@import '../blocks/b-footer/b-footer.css';
@import '../blocks/b-form/b-form.css';
@import '../blocks/b-header/b-header.css';
@import '../blocks/b-header-menu/b-header-menu.css';
@import '../blocks/b-header-menu-item/b-header-menu-item.css';
@import '../blocks/b-heading/b-heading.css';
@import '../blocks/b-how-it-works/b-how-it-works.css';
@import '../blocks/b-how-it-works-item/b-how-it-works-item.css';
@import '../blocks/b-how-it-works-item-textbox/b-how-it-works-item-textbox.css';
@import '../blocks/b-logobox/b-logobox.css';
@import '../blocks/b-map-box/b-map-box.css';
@import '../blocks/b-map-contacts/b-map-contacts.css';
@import '../blocks/b-parts/b-parts.css';
@import '../blocks/b-phonebox/b-phonebox.css';
@import '../blocks/b-sale/b-sale.css';
@import '../blocks/b-select/b-select.css';
@import '../blocks/b-testimonials/b-testimonials.css';
@import '../blocks/b-top-feature/b-top-feature.css';
@import '../blocks/b-top-screen/b-top-screen.css';
@import '../blocks/b-tscreen-feabox/b-tscreen-feabox.css';
@import '../blocks/b-utp/b-utp.css';
@import '../blocks/b-utp-item/b-utp-item.css';
@import '../blocks/b-utp-text/b-utp-text.css';
@import '../blocks/b-yandex-map/b-yandex-map.css';

body {
	margin: 0;
	padding: 0;
	min-height: 2000px;
}

.container {
	padding: 0 10px;
}

.container_rel {
	position: relative;
}

.container_grey {
	background: #E6E6E6;
}

.container_testimonials {
	padding: 0 33px;
}

.owl-author {
	margin: 5px 0 40px;
	font-family: "GothamProRegular";
	font-size: 18px;
	line-height: 26px;
}

.owl-comment-box {
	position: relative;
	padding: 42px 17px;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	background: #fff;
	border: 2px solid #cccccc;
}

.owl-comment-box:before {
	position: absolute;
	left: 27px;
    top: -26px;
	width: 26px;
	height: 28px;
	display: block;
	content: "";
	background: url('../img/testimonials-triangle.png') no-repeat;
}

.owl-carousel .owl-item {
	position: static;
}

.owl-dot {
	margin: 16px 8px;
	width: 11px;
	height: 11px;
	display: inline-block;
	border: 2px solid #cccccc;
}

.owl-dots {
	text-align: center;	
}

.owl-dot.active {
	background: #cccccc;
}

.container_parts {
	padding: 0 25px;
}

@media screen and ( max-width: 500px ) {
	body {
		width: 500px;
	}
} /*max-width: 320px*/

@media screen and ( min-width: 977px ) {
	.container {
		width: 960px;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
	.container_utp {
		padding: 0 15px;
	}
	
	.container_form {
		padding: 0 35px;
	}
	
	.container_testimonials {
		padding: 0 90px;
	}
	
	.owl-dot {
		margin: 18px 7px;
	}
	
} /*max-width: 977px*/

@media screen and ( min-width: 1130px ) {
	.container_utp {
		background: #fff;
		width: 98%;
	}
	
	.container_full {
		width: 100%;
	}
	
	.owl-comment-box {
		padding: 42px 27px;
	}
	
	#map {
		height: 406px !important;
	}
} /*max-width: 1130px*/