/**
* .b-credit-cards block
*/
.b-credit-cards {
	padding: 60px 0;
}

.b-credit-cards_center {
	text-align: center;
}

.b-credit-cards__text {
	margin: 0 0 21px;
	padding: 21px 7px;
	font-family: "GothamProLight";
	font-size: 20px;
	line-height: 26px;
}

.b-credit-cards_image {
	padding-bottom: 34px;
}

.b-credit-cards_image-big {
	display: none;
}

@media screen and ( min-width: 977px ) {
	.b-credit-cards {
		padding: 105px 0 75px;
	}
	
	.b-credit-cards__text {
		margin: 0 0 16px;
		padding: 27px 7px 40px;
	}
	
	.b-credit-cards_image-small {
		display: none;
	}
	
	.b-credit-cards_image-big {
		display: block;
		margin: 0 auto;
	}
	
} /* min-width: 977px */
