/**
* .b-header block
*/
.b-header {
	margin: 0 0 16px;
	overflow: hidden;
}

.b-header__menubox {
	position: fixed;
	left: -325px;
	top: 0;
	bottom: 0;
	padding: 0 35px 0 10px;
	width: 320px;
	font-family: "GothamProRegular";
	font-size: 15px;
	line-height: 26px;
	background: #fff;
	outline: 1px solid #000;
	z-index: 10;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.b-header__menubox_open {
	left: 0;
	overflow-y: scroll;
}

@media screen and ( min-width: 977px ) {
	.b-header {
		margin: 0;
	}
} /* min-width: 977px */
