/**
 * .b-top-feature block
 */
.b-top-feature {
	padding-top: 9px;
    width: 50%;
    float: left;
}

.b-top-feature__number {
	margin: 0 14px 0 22px;
	float: left;
	font-family: "GothamProBold";
	font-size: 44px;
}

.b-top-feature__number_yellow {
	color: #FFF343;
}

.b-top-feature__text {
	padding: 5px 0;
	font-family: "GothamProLight";
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
}

.b-top-feature__text_full {
	margin-left: 29px;
	display: block;
	line-height: 14px;
}

@media screen and ( min-width: 977px ) {
	.b-top-feature {
		width: 25%;
	}
	
	.b-top-feature__number {
		margin: 0 10px 0 19px;
	}
	
	.b-top-feature__text_full {
		margin-left: 20px;
	}
} /* min-width: 977px */
