/**
* .b-how-it-works-item block
*/
.b-how-it-works-item {
	position: relative;
	overflow: hidden;
	padding: 49px 24px 24px;
}

.b-how-it-works-item__image {
	position: relative;
	float: left;
	margin-right: 43px;
}

.b-how-it-works-item:after {
	position: absolute;
	top: -3px;
    left: 75px;
	display: block;
	width: 35px;
	height: 25px;
	background: url('how-arrow.png') no-repeat;
	content: '';
	background-position: center;
}

.b-how-it-works-item:first-of-type:after {
	display: none;
}
.b-how-it-works-item_second:after {
	bottom: -48px;
}

.b-how-it-works-item_second {
	padding: 49px 32px 30px;
}


.b-how-it-works-item__image_second {
	margin-right: 49px;
}

.b-how-it-works-item_third {
	padding: 48px 4px 24px 32px;
}

.b-how-it-works-item__image_third {
	margin-right: 48px;
}

@media screen and ( min-width: 977px ) {
	.b-how-it-works-item {
		float: left;
		padding: 46px 24px 24px 54px;
		width: 33%;
		text-align: center;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.b-how-it-works-item__image {
		float: none;
		margin-right: 0;
	}
	
	.b-how-it-works-item__image_second {
		margin: 10px 0 0;
	}
	
	.b-how-it-works-item_second {
		padding: 46px 24px 24px 34px;
	}
	
	.b-how-it-works-item_third {
		padding: 49px 24px 24px 14px;
	}
	
	.b-how-it-works-item:after {
		top: 115px;
		left: -10px;
		-webkit-transform: rotate(270deg);
		   -moz-transform: rotate(270deg);
		    -ms-transform: rotate(270deg);
		     -o-transform: rotate(270deg);
		        transform: rotate(270deg);
	}
	
	.b-how-it-works-item {
		overflow: visible;
	}
	
	.b-how-it-works-item_third:after {
		left: -17px;
	}
} /*max-width: 977px*/
