/**
 * .b-sale block
 */
.b-sale {
	padding: 51px 0;
	text-align: center;
}

.b-sale__btn {
	padding: 6px 13px;
	margin: 0 12px 0 0;
	display: inline-block;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	color: #FFF;
	border: 2px solid transparent;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.b-sale__btn_yellow {
	border: 2px solid #fff343;
}

.b-sale__btn_yellow:hover {
	background: #fff343;
	color: #000;
}

.b-sale__text {
	margin: 0 12px 0 0;
	display: inline-block;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	color: #FFF;
}

@media screen and ( min-width: 977px ) {
	.b-sale {
		padding: 33px 0 40px;
	}
	
	.b-sale__btn {
		margin: 0 12px 0 12px;
	}
	
	.b-sale__text {
		margin: 0;
	}
} /* min-width: 977px */