/**
 * .b-heading block
 */
.b-heading {
	margin: 0;
	font-family: "GothamProRegular";
	font-size: 40px;
	font-weight: normal;
	line-height: 50px;
}

.b-heading_white {
	color: #FFF;
}

.b-heading_red {
	color: #CB2127;
}

.b-heading_center {
	text-align: center;
}

.b-heading_black {
	color: #000;
}

.b-heading_utp {
	margin: 15px 0 0 0;
	font-size: 24px;
	line-height: 26px;
}

.b-heading_utp-second {
	margin: 24px 0 0 0;
}

.b-heading_utp-third {
	margin: 8px 0 0 0;
}

.b-heading_light {
	font-family: "GothamProLight";
}

.b-heading_how-it-works-item {
	margin-top: 18px;
	font-size: 24px;
	line-height: 26px;
}

.b-heading_mb30 {
	margin-bottom: 30px;
}

@media screen and ( min-width: 977px ) {
	
	.b-heading {
		font-size: 47px;
	}
	
	.b-heading_header {
		padding: 40px 0 0;
		margin: 0 auto;
		width: 500px;
		display: block;
		font-size: 47px;
		line-height: 70px;
	}
	
	.b-heading_utp {
		margin-top: 10px;
		margin-left: 5px;
		font-size: 18px;
		line-height: 26px;
	}
	
	.b-heading_utp-second {
		margin-top: 6px;
		margin-right: 0;
		margin-left: 10px;
	}
	
	.b-heading_utp-third {
		margin-left: 11px;
		margin-top: 15px;
	}
	
	.b-heading_utp-fourth {
		padding: 0 0 0 19px;
		margin: 16px 0 0;
	}
	
	.b-heading_utp-fifth {
		margin-top: 15px;
		margin-left: 20px;
	}
	
	.b-heading_how-it-works-item {
		font-size: 26px;
	}
	
	.b-heading_how-it-works-item-second {
		margin: 6px 0;
	}
	
	.b-heading_how-it-works-third {
		margin-top: 21px;
	}
	
	.b-heading_second {
		margin-bottom: 51px;
	}
	
} /* min-width: 977px */