/**
* .b-contact-tip block
*/
.b-contact-tip {
	padding: 41px 0 63px 0;
	font-family: "GothamProLight";
	color: #FFF;
	font-size: 11px;
	line-height: 26px;
	clear: both;
}

.b-contact-tip_center {
	text-align: center;
}

@media screen and ( min-width: 977px ) {
	.b-contact-tip {
		padding: 41px 0 30px 0;
		text-align: center;
	}
} /* min-width: 977px */