/**
* .b-map-box block
*/
.b-map-box {
	position: absolute;
	left: 0;
	right: 0;
	top: -130px;
	bottom: 0;
	padding: 24px 20px;
	width: 418px;
	height: 176px;
	z-index: 10;
	margin: auto;
	background: #FFF;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and ( min-width: 977px ) {
	.b-map-box {
		width: 390px;
		left: -390px;
		right: 0;
		top: -176px;
		padding: 24px 29px;
	}
} /* min-width: 977px */
