/**
* .b-btnbox block
*/
.b-btnbox {
	padding: 9px 0;
	text-align: center;
}

.b-btnbox__btn {
	padding: 8px 35px;
	display: inline-block;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.b-btnbox__btn_red {
	color: #FFF;
	background: #CB2127;
}

.b-btnbox__btn_red:hover {
	background: #E6272D;
}

@media screen and ( min-width: 977px ) {
	.b-btnbox_header {
		float: right;
	}
	
	.b-btnbox__btn_header {
		padding: 8px 16px;
		text-align: left;
		margin-right: 19px;
		margin-top: 37px;
	}
} /* min-width: 977px */