/**
* .b-utp-item block
*/
.b-utp-item {
	padding: 29px 14px 0 36px;
	overflow: hidden;
}	

.b-utp-item__image {
	margin: 0 25px 0 0;
	display: inline-block;
	float: left;
	margin-right: 32px;
}

.b-utp-item_second {
	margin-left: -3px;
}

.b-utp-item__image_second {
	margin: 0 27px 0 0;
}

.b-utp-item_third {
	padding: 31px 14px 0 26px;
}

.b-utp-item__image_third {
	margin: 0 21px 0 0;
}

.b-utp-item_fourth {
	padding: 27px 14px 0 26px;
}

.b-utp-item__image_fourth {
	margin: 0 20px 0 0;
}

.b-heading_utp_fourth {
	margin: 5px 0 0 0;
}

.b-heading_utp_fifth {
	margin: 8px 0 0 0;
}

@media screen and ( min-width: 977px ) {
	.b-utp-item {
		float: left;
		padding: 29px 14px 0 13px;
		width: 20%;
		text-align: center;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
	.b-utp-item__image {
		margin-right: 3px;
		float: none;
	}
	
	.b-utp-item_second {
		padding: 20px 14px 0 16px;
	}
	
	.b-utp-item__image_third {
		margin: 10px 0 0 0;
	}
	
	.b-utp-item__image_fourth {
		margin: 13px -9px 0 0;
	}
	
} /* min-width: 977px */