/**
* .b-logobox block
*/
.b-logobox {
	text-align: right;
	padding: 6px 0;
}

.b-logobox__mobile-menu {
	text-align: left;
}

.b-logobox__main {
	text-align: center;
}

.b-logobox__logo_big {
	display: none;
}

@media screen and ( min-width: 977px ) {
	.b-logobox__logo_small {
		display: none;
	}
	
	.b-logobox__logo_big {
		display: block;
	}
	
	.b-logobox {
		float: left;
		padding: 21px;
	}
} /*min-width: 977px*/