/**
* .b-utp-text block
*/
.b-utp-text {
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.b-utp-text__description {
	margin: 5px 0;
	font-family: "GothamProLight";
	font-size: 15px;
	line-height: 29px;
	color: #000;
}

@media screen and ( min-width: 977px ) {
	.b-utp-text__description {
		font-size: 12px;
		line-height: 18px;
	}
	
	.b-utp-text__description-second {
		padding: 0 5px 0 17px;
		margin: 3px 0;
	}
	
	.b-utp-text__description-third {
		padding: 0 0 0 8px;
	}
	
	.b-utp-text__description-fourth {
		padding: 0 0 0 22px;
	}
	
	.b-utp-text__description-fifth {
		margin-right: -23px;
		margin-top: 3px;
	}
	
	.b-utp-item__image_fifth {
		margin: 10px -15px 0 0;
	}
	
	.b-utp-text {
		text-align: center;
	}
} /* min-width: 977px */
