/**
* .b-fields-group block
*/
.b-fields-group {
	
}

@media screen and ( min-width: 977px ) {
	.b-fields-group {
		float: left;
		margin-right: 30px;
		width: 450px;
	}
	
	.b-fields-group_small {
		width: 270px;
	}
} /*max-width: 977px*/