{{#if books.length}}
    <ul class="books-list">
        {{#each books}}
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                {{ name }}
            </li>
        {{/each}}
    </ul>
{{^}}
    <p>
        Not Found
    </p>
{{/if}}
