<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>

    <!-- HEADER begin -->
    <header class="main-header">
        <img class="main-header-logo-image" src="img/green-book.jpg" alt="" />
        <h1>{{ title }}</h1>
    </header>
    <!-- HEADER end -->

    <!-- MAIN SIDEBAR begin -->
    <aside class="main-menu-sidebar">
        <nav>
            <a href="/"><i class="fa fa-home"></i>Home</a>
            <a href="/books"><i class="fa fa-book"></i>Books</a>
            <a href="/books/add"><i class="fa fa-plus"></i>Add new</a>
            <a href="/statistics"><i class="fa fa-bar-chart"></i>Statistics</a>
            <a href="/plan"><i class="fa fa-list-ol"></i>Plan</a>
            <a href="/in-process"><i class="fa fa-spinner"></i>In Process</a>
        </nav>
    </aside>
    <!-- MAIN SIDEBAR end -->

    <!-- MAIN WRAPPER begin -->
    <section class="main-wrapper">{{{ body }}}</section>
    <!-- MAIN WRAPPER end -->

</body>
</html>
