/**
* .b-map-contacts block
*/
.b-map-contacts {
	margin-bottom: 33px;
	overflow: hidden;
}

.b-map-contacts_arddess {
	float: left;
	font-family: "GothamProBold";
	font-size: 18px;
	line-height: 18px;
	color: #000;
	border-bottom: 1px dashed #000;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.b-map-contacts_arddess:hover {
	color: #CB2127;
	border-bottom: 1px dashed #CB2127;
}

.b-map-contacts_phone {
	float: right;
	font-family: "GothamProRegular";
	font-size: 18px;
	line-height: 18px;
	color: #000;
	text-decoration: none;
}