/**
* .b-burger block
*/
.b-burger {
	position: absolute;
	left: 10px;
	top: 17px;
	padding: 11px 8px;
	width: 40px;
	height: 40px;
	background: #CB2127;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.b-burger:hover {
	background: #E6272D;
}

.b-burger__close {
	right: 17px;
	left: auto;
}

.b-burger__line {
	margin: 0 0 4px 0;
	width: 24px;
	height: 3px;
	display: block;
	background: #fff;
}

.b-burger__line:last-child {
	margin: 0;
}

.b-burger__line_close-left {
    position: absolute;
    top: 18px;
	transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	   -moz-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	     -o-transform: rotate(40deg);
	        transform: rotate(40deg);
}

.b-burger__line_close-right {
	position: absolute;
	top: 18px;
	-webkit-transform: rotate(-40deg);
	   -moz-transform: rotate(-40deg);
	    -ms-transform: rotate(-40deg);
	     -o-transform: rotate(-40deg);
	        transform: rotate(-40deg);
}

@media screen and ( min-width: 977px ) {
	.b-burger {
		display: none;
	} 
} /* min-width: 977px */