/**
* .b-how-it-works-item-textbox block
*/
.b-how-it-works-item-textbox {
	
}

.b-how-it-works-item-textbox_text {
	margin: 12px 0;
	font-family: "GothamProLight";
	font-size: 16px;
	line-height: 20px;
}