/**
* .b-select block
*/
.b-select {
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.b-select::-ms-expand { /* for IE 11 */
    display: none;
}

.b-select {
    padding: 5px 10px;
    margin: 0 0 17px 0;
	width: 100%;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	border: 2px solid #000;
	outline: none;
	cursor: pointer;
	background: #fff url('select-arrow.png') no-repeat;
	background-position: 97% center;
}

.b-select_last {
	margin: 0 0 36px 0;
}

@media screen and ( min-width: 977px ) {
	.b-select_small {
		background-position: 234px center;
	}
} /*max-width: 977px*/
