/**
* .b-top-screen
*/
.b-top-screen {
	padding: 43px 0;
	background: url('../../../img/top-screen/top-screen-mobile-bg.png') no-repeat;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

@media screen and (min-width:700px) {
	.b-top-screen {
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
} /* min-width:700px */

@media screen and (min-width:977px) {
	.b-top-screen {
		padding: 43px 0 17px;
		background: url('../../../img/top-screen/top-screen-desctopbg.png') no-repeat;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}
} /* min-width:977px */

@media screen and (min-width:1130px) {
	.b-top-screen {
		background: url('../../../img/top-screen/main_auto_parts_with.jpg') no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	
	.b-top-screen {
		padding: 43px 0 0;
		margin-bottom: 17px;
	}
	
} /* min-width:977px */