/**
* .b-how-it-works block
*/
.b-how-it-works {
	margin-bottom: 30px;
}


@media screen and ( min-width: 977px ) {
	
	.b-how-it-works {
		padding: 40px 0 25px;
		overflow: hidden;
	}
	
	
	
} /*min-width: 977px*/