/**
* .b-utp block
*/
.b-utp {
	padding: 0 0 16px 0;
	background: #FFF;
}

@media screen and ( min-width: 977px ) {
	.b-utp {
		margin-bottom: 35px;
		padding: 0 0 13px 0;
		overflow: hidden;
	}
	
} /* min-width: 977px */

@media screen and ( min-width: 1130px ) {
	.b-utp {
		width: 930px;
		margin-left: auto;
		margin-right: auto;
	}
	
} /* min-width: 1130px */

