/**
* .b-phonebox block
*/
.b-phonebox {
	padding: 10px;
	text-align: center;
}

.b-phonebox__number {
	font-family: "GothamProMedium";
	font-size: 27px;
	line-height: 29px;
	color: #191919;
}

.b-phonebox__number:hover {
	text-decoration: none;
}

@media screen and ( min-width: 977px ) {
	.b-phonebox {
		padding: 55px 0 0 100px;
		float: left;
	}
	
	.b-phonebox__number {
		font-family: "GothamProRegular";
	}
	
	.b-phonebox__number {
		font-size: 30px;
	}
} /* min-width: 977px */