@import 'vars';

/* HEADER */
.main-header {
    background: #fff;
    border-bottom: 1px solid darken($cream, 5%);
}

.main-header-logo-image {
    max-width: 80px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.main-header h1 {
    margin: 22px 0;
    display: inline-block;
    vertical-align: top;
    color: $black;
}
