@import 'vars';

.main-menu-sidebar {
    padding: 20px 0;
    background: #fff;

    a {
        display: inline-block;
    	padding: 5px 10px;
        i {
            padding-right: 5px;
        }
    }
}

@media screen and ( min-width: 500px ) {
    .main-menu-sidebar {
        width: 130px;
        height: 100%;
        position: absolute;
        float: left;
    	margin-top: -1px;
        border-right: 1px solid darken($cream, 5%);
        a {
            padding: 5px 20px;
            display: block;
        }
    }
}
