@import "normalize";
@include normalize();
@import 'vars';
@import 'fonts';
@import 'header';
@import 'sidebars';

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: $cream;
}

a {
    text-decoration: none;
    color: $black;
}

a:hover {
    text-decoration: underline;
}

@media screen and ( max-width: 320px ) {
    body {
        width: 320px;
    }
}
