@import 'vars';

.main-wrapper {
    padding: 10px;

    h1 {
        margin: 0;
    }
}

.books-list {
    list-style: none;
    padding: 0;

    li {
        padding: 5px 0px;

        i {
            padding-right: 5px;
            vertical-align: middle;
        }
    }
}

@media screen and ( min-width: 500px ) {
    .main-wrapper {
        padding: 15px 0 0 150px;
    }
}
