/**
* .b-form block
*/
.b-form {
	padding: 41px 25px 54px;
	font-family: "GothamProLight";
}

.b-form__submit {
	padding: 8px 0;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	border: 0;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
} 

.b-form__input {
	padding: 6px 0;
	margin: 0 0 40px 0;
	width: 100%;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
	background: none;
	outline: none;
	border: 0;
	color: #000;
	border-bottom: 2px solid #000000;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.b-form__input_last {
	margin: 0 0 36px 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #000;
}

.b-form__submit_red {
	width: 100%;
	display: inline-block;
	background: #CB2127;
}

.b-form__submit_red:hover {
	background: #E6272D;
}

.b-form__label {
	display: block;
	margin-bottom: 14px;
	font-family: "GothamProLight";
	font-size: 18px;
	line-height: 26px;
}

.b-form_selects {
	padding: 18px 2px 26px;
}

@media screen and ( min-width: 977px ) {
	.b-form__input {
		float: left;
		margin-right: 30px;
		width: 300px;
	}
	
	.b-form__input_phone {
		width: 240px;
	}
	
	.b-form__submit_one-row {
		width: auto;
		float: right;
		padding: 8px 23px;
		margin-top: -3px;
	}
	
	.b-form_ticket {
		padding: 41px 25px 0px;
		overflow: hidden;
	}
	
	.b-form_selects {
		padding: 21px 2px 55px;
	}
	
	.b-select {
		width: 450px;
	}
	
	.b-form__submit_select {
		width: auto;
		padding: 8px 21px;
		margin: 39px 0 0 0;
	}
	
	.b-form__label {
		margin-bottom: 13px;
	}
} /* min-width: 977px */

@media screen and ( min-width: 1130px ) {
	.b-form_ticket {
		width: 840px;
		margin: 0 auto;
	}
	
	.b-form_selects {
		width: 900px;
		margin: 0 auto;
	}
	
} /* min-width: 1130px */
